@import '../variables.scss';

.nav-container {
	display: flex;
	flex-direction: row;
	flex: 0 0 auto;
	height: 48px;
	background: $bgDark;
	color: $textLight;
	justify-content: space-around;
	align-items: center;
}

.nav-logo {
	height: 38px;
}

.nav-btns {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.nav-login-btn,
.nav-register-btn {
	font-size: 16px;
	color: $textLight;
}
